{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user %}
        <div class="text-center">
            <h3>Investment history</h3>
        </div>
        <div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <th class="text-center">#</th>
                <th class="text-center">Loan amount</th>
                <th class="text-center">Now available</th>
                <th class="text-center">Invested</th>
                <th class="text-center">% of loan invested</th>
                </thead>
                <tbody>
                {% for investment in investments %}
                    <tr>
                        <td class="col-sm-1">{{ loop.index }}</td>
                        <td class="col-sm-3">${{ investment.loanAmount }}</td>
                        <td class="col-sm-2">${{ investment.availableForInvestments }}</td>
                        <td class="col-sm-2">${{ investment.invested|number_format(2, '.', ',') }}</td>
                        <td class="col-sm-2">{{ investment.conversion|number_format(2, '.', ',') }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        Please log in.
    {% endif %}

{% endblock %}


